<div class="error-message" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<div id="interactive" class="viewport"></div>

<div class="shopping-cart">
  <span *ngIf="shoppingCart.isEmpty else shoppingCartItems">Shopping cart is empty</span>
  <ng-template #shoppingCartItems>

    <app-cart-items
      *ngFor="let itemAndCount of shoppingCart.items.entries()"
      [article]="itemAndCount[0]"
      [count]="itemAndCount[1]">
    </app-cart-items>

    <div class="shopping-cart-total">
      Total: {{ shoppingCart.totalPrice }} INR
    </div>
  </ng-template>
</div>
